<html>

    <head>
<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="./styles/semantic-ui.css">
        <title>Questionário</title>
    </head>
    <body>
        
        
        <div class="ui container">
                  <div class="ui floating message" style="margin-top: 20px;">
       Tudo está correto! Agora clique abaixo para gerar o pdf:
    </div>   
            
             <button  id="imprimir"  class="fluid ui negative basic button" style="margin-top: 20px">Gerar PDF</button>
    
            
        </div>
        
        
          <script type="text/javascript" src="./scripts/jQuery.js"></script>
        <script type="text/javascript" src="./scripts/fileSaver.js"></script>
        <script type="text/javascript" src="../../jsPDF-1.3.2/jspdf.js"></script>
            <script type="text/javascript" src="./scripts/semantic-ui.js"></script>
        <script>
        var doc = new jsPDF();
            
            $( "#imprimir" ).click(function() {
  
            doc.text('Hello world!', 10, 10);
            doc.save('a4.pdf');  
                alert("Documento Impresso!");
});
            

            
        </script>
    </body>
</html>